{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Check</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Courier
    +Prime:ital,wght@1,700&family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <nav style="background-color:rgb(48, 18, 36, 0.7);">
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">
                <i class="large material-icons">monetization_on</i><b>My Price Check</b></a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a><i class="material-icons">dehaze</i></li>
            </ul>
        </div>
    </nav>
    <img src="{% static "images/bg1.jpg" %}" style="width: 100%; height: 200px; object-fit: cover;"
        alt="price_check_banner">
    <div id="result-section" class="container">
        <h1 style="text-align: center; font-weight: bold;">A price comparator that does just what it says!</h1>
        <h5>Search products and compare prices</h5>
        <div class="search-section">
            <form action="{% url 'results' %}" method="post">
                {% csrf_token %}
                <input id="search-bar" type="text" name="search" placeholder="search">
                <button class="btn waves-effect waves-light"
                    style="background-color: rgb(48, 18, 36, 0.7); border-radius: 10px;" type="submit"
                    onmouseover="this.style.backgroundColor='rgba(0, 112, 65, 0.7)'"
                    onmouseout="this.style.backgroundColor='rgb(48, 18, 36, 0.7)'" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </form>
        </div>

        {% block content %}

        {% endblock content %}



    </div>

    <div class="footer-wrapper">
        <div id="footer-section" class="row">
            <div class="col s4">
                <!-- Promo Content-->
                <div class="center">
                    <i class="large material-icons" style="color: rgb(78, 235, 170); height: 7rem;">art_track</i>
                    <h5 style="color: seashell;">Modern and simple design</h5>

                    <p class="light center" style="color: seashell;"><b>We believe in a minimalistic approach and hence tried to make the website
                            as easy to use as possible while at the same time not compromising on it's
                            functionalitites.</b></p>
                </div>
            </div>

            <div class="col s4">
                <!-- Promo Content-->
                <div class="center">
                    <!--i class="large material-icons" style="color: rgb(137, 162, 241);">art_track</i-->
                    <img src="{% static "images/icone1.jpg" %}" style="width: 15rem; height: 7rem; object-fit: cover;">
                    <h5 style="color: seashell;">Check international sites</h5>
                    <p class="light center" style="color: seashell;"><b>
                            We have made the website in such a fashion
                            that you get the latest prices from both international as well as local sites
                    </p></b>
                </div>
            </div>

            <div class="col s4">
                <!-- Promo Content-->
                <div class="center">
                    <i class="large material-icons" style="color: rgb(116, 117, 158); height: 7rem;">add_shopping_cart</i>
                    <h5 style="color: seashell;">Search and compare</h5>
                    <p class="light center" style="color: seashell;"><b>the website is as easy as clicking the search button
                            and giving the name of the products you want to search for with the best prices !</b></p>
                </div>
            </div>

        </div>

    </div>



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>