:root{
	--mainColor:#e8e8e8;
	--secondaryColor:#fff;

	--mainText:#474857;
	--secondaryText:#4b5156;

	--borderColor:#bdb5b5;
	--linkColor:#63c3db;
	--shadowColor:#f2e5d9;

	--defaultFont:'Montserrat', sans-serif;
	--mainTitleFont:'Courier Prime', monospace;
	--secondaryFont:'Baloo 2', cursive;

	--themeDotBorder: #24292e ;
	--previewBg: rgb(212, 212, 212, 0.6);

	--buttonColor: black;
}

p, h1, h2, h3, h4, h5, h6 strong{
	color: var(--mainText);
	font-family: var(--secondaryFont);
}

li{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: column;
}

a{
    transition: width 1s, height 1s, transform 1s;
}

a:hover{
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transform: scale(1.2);
}

body{
    
    background-image: 
    linear-gradient(to bottom,rgb(255, 255, 255, 0), #ffffff00),
    url("/static/images/bg6.jpg");
    object-fit: cover;
}

#search-result{
    text-align: center;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
}

.search-section{
    padding-top: 35px;
    padding-bottom: 15px;
}

#search-bar{
    border-radius: 7px 7px 0 0;
    padding-left: 10px;
    background-color: rgba(248, 248, 255, 0.6);
}

#search-bar::placeholder{
    color: var(--mainText);
}

.waves-light :hover{
    background-color: #c5ffee;
    color: #24292e;
    
}

#result-section{
    scroll-margin-top: 0 auto;
}

#post-section{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    border-radius: 10px;
    margin: 15px;
}

#post-section :hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#post{
    width: 100%; 
    border-radius: 10px; 
    background-color: rgb(242, 244, 255);
}
#post-card{
    object-fit: cover;
    justify-content: center;
    width: fit-content;
}

.card-image{
    -webkit-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
	-moz-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    transition: width 1s, height 1s, transform 1s;
}

.card-image:hover{
    transform: scale(1.1);
}

.price-wrapper{
    display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
}

.prices-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price-component{
    color: darkorange;
    transition: width 1s, height 1s, transform 1s;
}

.price-component:hover{
    color: gold;
    transform: scale(1.1);
}

.best-price-image{
    font-weight: bold;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 100px;
    -webkit-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
	-moz-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    border-radius: 50%;
}

#best-price{
    font-weight: bold; 
    margin: 0; font-size: 40px; 
    color: seagreen;
    transition: width 1s, height 1s, transform 1s;
}

#best-price:hover{
    color: gold;
    transform: scale(1.4);
}

.icon-website{

    width: 60px;
    height: 30px;
    background-size: auto;
    margin: 3px 50px 3px 0 ;
    object-fit: cover;

}

#post-image{
    border-radius: 7px;
}

.footer-wrapper{
    background-image: url("/static/images/bg2.jpg");
    width: 100%;
    height: 500px;
    padding: 15px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer-section{
    background-color: rgba(0, 0, 0, 0.7);
    width: auto;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#column-desc{
    transition: width 1s, height 1s, transform 1s;
}

#column-desc:hover{
    transform: scale(1.2);
}

.footer-line{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 20%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

@media screen and (max-width : 600px){
    .nav-wrapper .prices-section{
        transform: scale(0.7);
    }
}