:root{
	--mainColor:#e8e8e8;
	--secondaryColor:#fff;

	--mainText:#474857;
	--secondaryText:#4b5156;

	--borderColor:#bdb5b5;
	--linkColor:#63c3db;
	--shadowColor:#f2e5d9;

	--defaultFont:'Montserrat', sans-serif;
	--mainTitleFont:'Courier Prime', monospace;
	--secondaryFont:'Baloo 2', cursive;

	--themeDotBorder: #24292e ;
	--previewBg: rgb(212, 212, 212, 0.6);

	--buttonColor: black;
}

p, h1, h2, h3, h4, h5, h6 strong{
	color: var(--mainText);
	font-family: var(--secondaryFont);
}

li{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: column;
}

a{
    transition: width 1s, height 1s, transform 1s;
}

a:hover{
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transform: scale(1.2);
}

body{
    
    background-image: 
    linear-gradient(to bottom,rgb(255, 255, 255, 0), #ffffff00),
    url("/static/images/bg6.jpg");
    object-fit: cover;
}

#search-result{
    text-align: center;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
}

.search-section{
    padding-top: 35px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 15px;
}

#search-bar{
    border-radius: 7px 7px 0 0;
    padding-left: 10px;
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 248, 255, 0.6);
}

#search-bar::placeholder{
    color: var(--mainText);
}

.waves-light :hover{
    background-color: #c5ffee;
    color: #24292e;
    
}

.row{
    align-content: center;
    padding: 1px;
}

#result-section{
    scroll-margin-top: 0 auto;
}

#post-section{
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    border-radius: 10px;
    margin: 15px;
}

#post-section :hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#post{
    width: 100%; 
    border-radius: 10px; 
    background-color: rgb(242, 244, 255);
}
#post-card{
    object-fit: cover;
    justify-content: center;
    width: fit-content;
}

.post-title{
    border-bottom: 1px solid rgb(48, 18, 36); 
    margin-left: 10px; 
    margin-right: 10px;
}

.card-stacked{
    display: block;
    width: 90%;
    padding-top: 7px ;
    height: auto;
    margin: auto;
}

.card-image-top{
    -webkit-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
	-moz-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);

}

.card-image:hover{
    transform: scale(1.1);
}

.price-wrapper{
    display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
}

.prices-section{
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
}

.prices-column{
    padding-left: 10px;
}

.price-component{
    color: darkorange;
    transition: width 1s, height 1s, transform 1s;
}

.price-component:hover{
    color: gold;
    transform: scale(1.1);
}

.best-price-column{
    padding-left: 10px; 
    padding-right: 10px;
    vertical-align: top;
}

.best-price-image{
    font-weight: bold;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 100px;
    -webkit-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
	-moz-box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    box-shadow: 2px 3px 10px 2px rgba(39,37,74,1);
    border-radius: 50%;
}

#best-price{
    font-weight: bold; 
    margin: 0; font-size: 40px; 
    color: seagreen;
    transition: width 1s, height 1s, transform 1s;
}

#best-price:hover{
    color: gold;
    transform: scale(1.4);
}

.icon-website{

    width: 60px;
    height: 30px;
    background-size: auto;
    margin: 3px 50px 3px 0 ;
    object-fit: cover;

}

#post-image{
    border-radius: 7px;
}

.footer-wrapper{
    background-image: url("/static/images/bg2.jpg");
    width: 100%;
    height: auto;
    padding: 15px;
    background-size: cover;

}

#footer-section{
    background-color: rgba(0, 0, 0, 0.7);
    width: auto;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer-column{
    transition: width 1s, height 1s, transform 1s;
    padding: 30px;
}

.footer-column:hover{
    transform: scale(1.2);
}

.footer-line{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    max-width: auto;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
@media only screen and (min-width: 800px){
    .card-image-top{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .nav-wrapper{
        transform: scale(0.7) ;
    }
    .brand-logo{
        width: 100%;
        justify-content: center;
    }
    .logo{
        display: none;
    }
#nav-mobile{
	display: none;
	}
    #main-intro{
        transform: scale(0.7) ;
    }
    #secondary-intro{
        transform: scale(0.7) ;
    }
    .form-button{
        text-align: center;
    }

    #search-result{
        transform: scale(0.6);
    }
    .header{
       font-size: 16px;
        padding: 5px;
    }
    .card-image-top{
        display: block;
        height: auto;
        border-radius: 10px;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .post-title{
        font-size: 14px;
    }

    .icon-website{

        width: 40px;
        height: 20px;
        background-size: auto;
        margin: 3px 20px 3px 0 ;
        object-fit: cover;
    
    }
    .prices-column{
        display: flex;
        flex-direction: row;
    }
    .best-price-column{
        display: block;
        height: auto;
        width: auto;
        margin: auto;
        transform: scale(0.7);
    }
    .card-image{
        display: none;
    }

    #footer-section{
        display: inline-flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px){
    .best-price-column{
        transform: scale(0.6);
    }
    .prices-column{
        width: 100%;
    }
    .price-component{
        display: inline-block;
    }
}
